@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("./assets/bg-image.svg"),
    linear-gradient(192.05deg, #385d85 0%, #4a91ff 100%);

  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-attachment: fixed;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  opacity: 0.95;
  /* font-size: 16px; */
}

.doted-lines .line-1 {
  position: absolute;
  width: 425px;
  height: 366.5px;
  left: 80px;
  top: -54px;
}
.doted-lines .line-2 {
  position: absolute;
  width: 112px;
  height: 235px;
  left: -25px;
  top: 92px;
}

.header {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin: 26px 41px 0 41px;
}
.header-logo {
  width: 61px;
  height: 45px;
}
.header-toggle-button {
  width: 36px;
  height: 22px;
  cursor: pointer;
}

.header-navigations {
  display: flex;
  padding: 0;
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 18px;
}

.header-navigations-sub {
  padding: 0 50px;
}

.header-navigations-sub a {
  padding: 0 30px;
  text-decoration: none;
  color: white;
}
/* main body */

.main-body {
  margin: 20px 20%;
}
.display-picture {
  text-align: center;
}

.display-picture .cat-image {
  position: absolute;
  width: 301px;
  height: 204px;
  z-index: 5;
  left: 50%;
  top: 20%;
  transform: translate(-45%, -50%);
}
.display-picture .white-bg {
  position: absolute;
  width: 209px;
  height: 200px;

  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.display-picture p {
  font-size: 43.01px;
  color: white;
  margin: 0;
  line-height: 64px;
  font-weight: 300;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  width: 60%;
}
.display-picture span {
  color: #ff9142;
  font-weight: 700;
}
.display-picture .dots-3 {
  display: flex;

  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
.dot {
  width: 12px;
  height: 13px;
  background: rgba(39, 101, 135, 0.6);
  border: 0.8px solid rgba(255, 255, 255, 0.49);
  box-sizing: border-box;
  border-radius: 50%;
  margin: 0 2px;
}
.dot:first-child {
  background: #9cd0fa;
  border: 0.8px solid rgba(255, 255, 255, 0.49);
}
.typing-field {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 41%;
}
.typing-field input {
  width: 100%;
  height: 48px;
  border-radius: 30px;
  font-weight: 500;
  position: relative;
  border: 1px solid #0355d6;
  outline: none;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}

.typing-field span {
  color: #ff9142;
  position: absolute;
  padding-right: 20px;
  text-transform: uppercase;
  font-size: 16.92px;
  cursor: pointer;
  font-weight: 600;
  line-height: 25.38px;
}

/* price */

.price-field {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-weight: 300;

  position: absolute;
  left: 50%;
  bottom: 30%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.price-field p {
  color: #0355d6;
  font-size: 59.94px;
  margin: 0;
}
.price-field small {
  color: white;
  font-size: 18px;
  margin-top: 0;
}

/* code */

.display-code {
  text-align: center;
  position: absolute;
  bottom: 12%;
  left: 51%;
  transform: translate(-50%, -50%);
}
.display-code .code {
  width: fit-content;
  height: fit-content;
  background-color: #44555d;
  color: white;
  text-align: left;
  font-size: 0.6rem;
  border-radius: 12px;
  margin: 5px auto 15px auto;
  padding: 10px;
}
.display-code a {
  text-decoration: none;
  border: 1px solid #0355d6;
  background: #0355d6;
  border-radius: 27.2661px;
  color: #fff;
  padding: 2px 5px;
  width: 97px;
  height: 24px;
  font-weight: 700;
  font-size: 10.14px;
  line-height: 15.22px;
}
/* footer */

.footer {
  position: absolute;
  width: 100%;
  bottom: 20px;

  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
}

.volcano-logo-section {
  margin-left: 41px;
}

.volcano-logo-section img {
  width: 49.94px;
  height: 52px;
  margin-bottom: 0;
}
.volcano-logo-section p {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
}

.watch-video-section {
  margin-right: 30px;
}
.watch-video-section img {
  width: 73px;
  height: 88px;
}
.watch-video-section p {
  text-align: center;
  font-size: 17.92px;
  line-height: 21px;
  font-weight: 700;
  margin-top: -10px;
}

.app-store-section {
  text-align: center;
  margin-left: -1%;
}
.app-store-section p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.store-icons img {
  width: 136px;
  height: 52px;
}

@media only screen and (max-height: 900px) {
  .doted-lines .line-1 {
    width: 450px;
    height: 340px;
    left: 110px;
    top: -104px;
  }
  .header-logo {
    width: 60px;
    height: 40px;
  }
  .header-toggle-button {
    width: 30px;
    height: 18px;
    margin-top: -5px;
  }
  .header-navigations {
    font-size: 15px;
  }

  .display-picture .cat-image {
    width: 200px;
    height: 140px;
  }
  .display-picture .white-bg {
    width: 150px;
    height: 130px;
  }
  .display-picture p {
    font-size: 40px;
  }
  .dot {
    width: 7px;
    height: 8px;
    margin-top: -1%;
  }

  .typing-field {
    width: 36%;
  }
  .typing-field input {
    height: 42px;
    font-size: 14px;
  }
  .typing-field span {
    font-size: 16px;
  }

  .price-field {
    width: 50%;
  }

  .price-field p {
    font-size: 48px;

    /* margin: 2% 0 -8% 0; */
  }
  .price-field small {
    font-size: 16px;
  }
  .display-code {
    margin-top: 25px;
  }
  .display-code .code {
    font-size: 8px;
    margin-bottom: 2px;
  }

  .volcano-logo-section img {
    width: 45px;
  }
  .watch-video-section img {
    width: 70px;
    height: 80px;
  }
  .watch-video-section p {
    font-size: 14px;
  }
  .app-store-section {
    margin-left: -1%;
    text-align: center;
  }

  .store-icons img {
    width: 136px;
    height: 52px;
  }
}

/* @media only screen and (max-width: 1200px) {
  .typing-field {
    margin: 2% 25% 2% 25%;
  }
  .typing-field input {
    font-size: 0.6rem;
  }
  .typing-field span {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 1024px) and (min-height: 1365px) {
  .header {
    height: 180px;
    align-items: center;
  }
  .header-logo {
    width: 90px;
  }
  .header-navigations {
    font-size: 1.1rem;
  }
  .main-body {
    margin: 40px 10%;
  }
  .display-picture p {
    font-size: 2.8rem;
  }

  .white-bg {
    width: 150px;
    height: 140px;
    left: 50%;
    top: 300px;

    transform: translate(-50%, -50%);
  }
  .typing-field {
    margin: 8% 20% 2% 20%;
  }
  .typing-field input {
    font-size: 1rem;
    height: 30px;
  }
  .typing-field span {
    font-size: 1.1rem;
  }
  .price-field h1 {
    font-size: 4.3rem;
    margin-top: 20%;
  }
  .price-field p {
    font-size: 1rem;
  }
  .display-code {
    margin: 60px 20% 50px 20%;
    text-align: center;
  }
  .display-code .code {
    font-size: 0.9rem;
    margin: 5px auto 35px auto;
  }

  .display-code a {
    font-size: 1rem;
  }

  .footer {
    font-size: 1.1rem;
    margin-top: 100px;
  }
  .app-store-section {
    margin-left: -9%;
  }
  .store-icons img {
    width: 167px;
    height: 61px;
  }
  .watch-video-section i {
    font-size: 70px;
  }
  .volcano-logo-section img {
    width: 50px;
  }
}

@media only screen and (max-width: 900px) {
  .typing-field {
    margin: 2% 22% 2% 22%;
  }
}

@media only screen and (max-width: 768px) and (min-height: 1024px) {
  .header {
    height: 120px;
    align-items: center;
  }
  .header-logo {
    width: 60px;
  }
  .main-body {
    margin: 20px 10%;
  }
  .display-picture p {
    font-size: 2rem;
  }
  .white-bg {
    top: 230px;
  }
  .typing-field {
    margin: 8% 20% 2% 20%;
  }
  .price-field h1 {
    font-size: 3rem;
    margin-top: 30px;
  }
  .price-field p {
    font-size: 0.9rem;
  }
  .display-code {
    margin: 30px 10% 30px 10%;
    text-align: center;
  }
  .display-code .code {
    font-size: 0.7rem;
  }
  .display-code a {
    font-size: 0.8rem;
  }
  .footer {
    font-size: 0.8rem;
    margin-top: 50px;
  }

  .watch-video-section i {
    font-size: 60px;
  }
  .volcano-logo-section img {
    width: 40px;
  }
  .app-store-section {
    margin-left: -10%;
  }
  .typing-field input {
    font-size: 0.8rem;
    height: 30px;
  }
  .typing-field span {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 768px) and (max-height: 1023px) {
  .header {
    height: 50px;
    align-items: flex-end;
  }
  .header-logo {
    width: 50px;
  }
  .main-body {
    margin: 10px 10%;
  }
  .display-picture p {
    font-size: 1.4rem;
  }
  .price-field h1 {
    font-size: 2.4rem;
  }
  .price-field p {
    font-size: 0.8rem;
  }
  .display-code {
    margin: 10px 10% 20px 10%;
    text-align: center;
  }
  .display-code .code {
    font-size: 0.6rem;
  }
  .display-code a {
    font-size: 0.6rem;
  }
  .footer {
    font-size: 0.7rem;
    margin-top: 40px;
  }
  .store-icons i {
    font-size: 50px;
  }
  .watch-video-section i {
    font-size: 60px;
  }
  .volcano-logo-section img {
    width: 40px;
  }
  .app-store-section {
    margin-left: -9%;
  }
  .typing-field input {
    font-size: 0.7rem;
  }
  .typing-field span {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 600px) {
  .header-logo {
    width: 50px;
  }
  .display-picture p {
    font-size: 1.5rem;
  }
  .price-field h1 {
    font-size: 2.2rem;
  }
  .typing-field input {
    font-size: 0.5rem;
  }
  .typing-field span {
    font-size: 0.6rem;
  }
  .footer {
    font-size: 0.7rem;
    margin-top: 15px;
  }
  .watch-video-section i {
    font-size: 40px;
  }
  .volcano-logo-section img {
    width: 30px;
  }
}
@media only screen and (max-width: 480px) and (max-height: 824px) {
  .header-logo {
    width: 40px;
  }
  .footer {
    font-size: 0.5rem;
    margin-top: 10px;
  }
  .store-icons img {
    width: 80px;
    height: 30px;
  }
  .main-body {
    margin: 5px 10%;
  }
  .display-picture p {
    font-size: 1.3rem;
    margin: 0;
  }
  .typing-field {
    margin: 8% 12% 2% 12%;
  }
  .typing-field span {
    font-size: 0.5rem;
  }
  .typing-field input {
    height: 20px;
    font-size: 0.5rem;
  }
  .display-picture .dots-3 {
    margin-top: 5px;
  }
  .dot {
    width: 6px;
    height: 7px;
  }
  .price-field h1 {
    font-size: 2.2rem;
    margin-top: 20px;
  }
  .price-field p {
    font-size: 0.6rem;
  }
  .display-code .code {
    font-size: 0.4rem;
    margin: 30px auto;
  }
}
@media only screen and (max-width: 480px) and (max-height: 700px) {
  .header {
    height: 70px;
    align-items: center;
  }
  .header-logo {
    width: 40px;
  }

  .header-navigations {
    font-size: 0.7rem;
  }
  .main-body {
    margin: 5px 10%;
  }
  .display-picture p {
    font-size: 1.2rem;
    margin: 0;
  }
  .display-picture img {
    width: 140px;
    height: 130px;
  }
  .white-bg {
    width: 110px;
    height: 110px;
    top: 140px;
  }
  .display-picture .dots-3 {
    margin-top: 5px;
  }
  .dot {
    width: 6px;
    height: 7px;
  }
  .typing-field {
    margin: 8% 10% 2% 10%;
  }
  .typing-field span {
    font-size: 0.5rem;
  }
  .typing-field input {
    height: 20px;
    font-size: 0.5rem;
  }
  .price-field h1 {
    font-size: 1.6rem;
    margin-top: 20px;
  }
  .price-field p {
    font-size: 0.5rem;
  }
  .display-code {
    margin: 20px 20% 20px 20%;
    text-align: center;
  }
  .display-code .code {
    font-size: 0.3rem;
    margin: 10px auto;
  }
  .display-code a {
    font-size: 0.4rem;
  }

  .footer {
    font-size: 0.4rem;
    margin-top: 10px;
  }
  .store-icons img {
    width: 70px;
    height: 25px;
  }
  .watch-video-section i {
    font-size: 30px;
  }
  .volcano-logo-section img {
    width: 25px;
  }

  .toggle-line {
    width: 20px;
    height: 3px;
    margin: 1.5px 0;
  }
}
@media only screen and (max-width: 320px) {
  .header {
    height: 50px;
    align-items: center;
  }
  .header-logo {
    width: 35px;
  }

  .header-navigations {
    font-size: 0.7rem;
  }
  .main-body {
    margin: 3px 10%;
  }
  .display-picture p {
    font-size: 1rem;
    margin: 0;
  }
  .display-picture img {
    width: 100px;
    height: 90px;
  }
  .white-bg {
    width: 75px;
    height: 75px;
    top: 100px;
  }

  .dot {
    width: 6px;
    height: 5px;
  }
  .typing-field {
    margin: 8% 12% 2% 12%;
  }
  .typing-field span {
    font-size: 0.4rem;
  }
  .typing-field input {
    font-size: 0.4rem;
  }
  .price-field h1 {
    font-size: 1.4rem;
  }
  .price-field p {
    font-size: 0.4rem;
  }

  .display-code .code {
    font-size: 0.35rem;
  }

  .toggle-line {
    width: 15px;
    height: 2.5px;
    margin: 1.5px 0;
  }
} */
