@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("./assets/bg-image.svg"),
    linear-gradient(192.05deg, #385d85 0%, #4a91ff 100%);

  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-attachment: fixed;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.header {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin: 26px 41px 0 41px;
}
.header-logo {
  width: 61px;
  height: 45px;
}
.header-toggle-button {
  width: 36px;
  height: 22px;
  cursor: pointer;
}

.header-navigations {
  display: flex;
  padding: 0;
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 18px;
}

.header-navigations-sub {
  padding: 0 10px;
}

.header-navigations-sub a {
  padding: 0 10px;
  text-decoration: none;
  color: white;
}
/* main body */

.main-body {
  margin: 20px 20%;
}
.display-picture {
  text-align: center;
}

.display-picture .cat-image {
  position: relative;
  transform: translate(5%);
  width: 301px;
  height: 204px;
  z-index: 5;
}
.display-picture .white-bg {
  position: absolute;
  width: 209px;
  height: 194px;
  left: 50%;
  top: 192px;

  transform: translate(-50%, -50%);

  /* box-shadow: inset -37.4492px 22.8857px 62.4154px #ffffff,
    inset 16.6441px -31.2077px 62.4154px rgba(0, 0, 0, 0.2); */
  z-index: -1;
}
.display-picture p {
  font-size: 2.6rem;
  color: white;
  margin: 0;
}
.display-picture span {
  color: #ff9142;
  font-weight: 600;
}
.display-picture .dots-3 {
  display: flex;

  align-items: center;
  justify-content: center;
}
.dot {
  width: 12px;
  height: 13px;
  background: rgba(39, 101, 135, 0.6);
  border: 0.8px solid rgba(255, 255, 255, 0.49);
  box-sizing: border-box;
  border-radius: 50%;
  margin: 0 2px;
}
.dot:first-child {
  background: #9cd0fa;
  border: 0.8px solid rgba(255, 255, 255, 0.49);
}
.typing-field {
  margin: 2% 20% 2% 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.typing-field input {
  /* width: 100%;
  height: 25px; */
  width: 600px;
  height: 48px;
  border-radius: 30px;
  font-weight: 500;
  position: relative;
  border-color: black;
  outline: none;
  text-align: center;
  font-size: 0.9rem;
}

.typing-field span {
  color: #ff9142;
  position: absolute;
  padding-right: 10px;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
}

/* price */

.price-field {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-weight: 600;
}

.price-field h1 {
  color: #0355d6;
  font-size: 2.2rem;
  margin: 0;
}
.price-field p {
  color: white;
  font-size: 0.7rem;
  margin-top: 0;
}

/* code */

.display-code {
  margin: 0px 20% 20px 20%;
  text-align: center;
}
.display-code .code {
  width: fit-content;
  height: fit-content;
  background-color: black;
  color: white;
  text-align: left;
  font-size: 0.6rem;
  border-radius: 20px;
  margin: 5px auto 15px auto;
  padding: 10px;
}
.display-code a {
  text-decoration: none;
  border: 1px solid #0355d6;
  border-radius: 20px;
  background-color: #0355d6;
  color: #fff;
  padding: 1% 4%;
  font-size: 0.7rem;
}
/* footer */

.footer {
  padding: 10px 4% 0 4%;
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
}

.volcano-logo-section img {
  width: 40px;
  height: auto;
  margin-bottom: 0;
}

.watch-video-section i {
  color: white;
  font-size: 60px;
}
.watch-video-section {
  text-align: center;
}

.app-store-section {
  margin-left: -6%;
  text-align: center;
}
.store-icons img {
  width: 110px;
  height: 40px;
  padding: 5px;
}

@media only screen and (max-width: 1200px) {
  .typing-field {
    margin: 2% 25% 2% 25%;
  }
  .typing-field input {
    font-size: 0.6rem;
  }
  .typing-field span {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 1024px) and (min-height: 1365px) {
  .header {
    height: 180px;
    align-items: center;
  }
  .header-logo {
    width: 90px;
  }
  .header-navigations {
    font-size: 1.1rem;
  }
  .main-body {
    margin: 40px 10%;
  }
  .display-picture p {
    font-size: 2.8rem;
  }
  /* .display-picture image {
    width: 210px;
    height: 200px;
  } */
  .white-bg {
    width: 150px;
    height: 140px;
    left: 50%;
    top: 300px;

    transform: translate(-50%, -50%);
  }
  .typing-field {
    margin: 8% 20% 2% 20%;
  }
  .typing-field input {
    font-size: 1rem;
    height: 30px;
  }
  .typing-field span {
    font-size: 1.1rem;
  }
  .price-field h1 {
    font-size: 4.3rem;
    margin-top: 20%;
  }
  .price-field p {
    font-size: 1rem;
  }
  .display-code {
    margin: 60px 20% 50px 20%;
    text-align: center;
  }
  .display-code .code {
    font-size: 0.9rem;
    margin: 5px auto 35px auto;
  }

  .display-code a {
    font-size: 1rem;
  }

  .footer {
    font-size: 1.1rem;
    margin-top: 100px;
  }
  .app-store-section {
    margin-left: -9%;
  }
  .store-icons img {
    width: 167px;
    height: 61px;
  }
  .watch-video-section i {
    font-size: 70px;
  }
  .volcano-logo-section img {
    width: 50px;
  }
}

@media only screen and (max-width: 900px) {
  .typing-field {
    margin: 2% 22% 2% 22%;
  }
}

@media only screen and (max-width: 768px) and (min-height: 1024px) {
  .header {
    height: 120px;
    align-items: center;
  }
  .header-logo {
    width: 60px;
  }
  .main-body {
    margin: 20px 10%;
  }
  .display-picture p {
    font-size: 2rem;
  }
  .white-bg {
    top: 230px;
  }
  .typing-field {
    margin: 8% 20% 2% 20%;
  }
  .price-field h1 {
    font-size: 3rem;
    margin-top: 30px;
  }
  .price-field p {
    font-size: 0.9rem;
  }
  .display-code {
    margin: 30px 10% 30px 10%;
    text-align: center;
  }
  .display-code .code {
    font-size: 0.7rem;
  }
  .display-code a {
    font-size: 0.8rem;
  }
  .footer {
    font-size: 0.8rem;
    margin-top: 50px;
  }
  /* .store-icons i {
    font-size: 50px;
  } */
  .watch-video-section i {
    font-size: 60px;
  }
  .volcano-logo-section img {
    width: 40px;
  }
  .app-store-section {
    margin-left: -10%;
  }
  .typing-field input {
    font-size: 0.8rem;
    height: 30px;
  }
  .typing-field span {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 768px) and (max-height: 1023px) {
  .header {
    height: 50px;
    align-items: flex-end;
  }
  .header-logo {
    width: 50px;
  }
  .main-body {
    margin: 10px 10%;
  }
  .display-picture p {
    font-size: 1.4rem;
  }
  .price-field h1 {
    font-size: 2.4rem;
  }
  .price-field p {
    font-size: 0.8rem;
  }
  .display-code {
    margin: 10px 10% 20px 10%;
    text-align: center;
  }
  .display-code .code {
    font-size: 0.6rem;
  }
  .display-code a {
    font-size: 0.6rem;
  }
  .footer {
    font-size: 0.7rem;
    margin-top: 40px;
  }
  .store-icons i {
    font-size: 50px;
  }
  .watch-video-section i {
    font-size: 60px;
  }
  .volcano-logo-section img {
    width: 40px;
  }
  .app-store-section {
    margin-left: -9%;
  }
  .typing-field input {
    font-size: 0.7rem;
  }
  .typing-field span {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 600px) {
  .header-logo {
    width: 50px;
  }
  .display-picture p {
    font-size: 1.5rem;
  }
  .price-field h1 {
    font-size: 2.2rem;
  }
  .typing-field input {
    font-size: 0.5rem;
  }
  .typing-field span {
    font-size: 0.6rem;
  }
  .footer {
    font-size: 0.7rem;
    margin-top: 15px;
  }
  .watch-video-section i {
    font-size: 40px;
  }
  .volcano-logo-section img {
    width: 30px;
  }
}
@media only screen and (max-width: 480px) and (max-height: 824px) {
  .header-logo {
    width: 40px;
  }
  .footer {
    font-size: 0.5rem;
    margin-top: 10px;
  }
  .store-icons img {
    width: 80px;
    height: 30px;
  }
  .main-body {
    margin: 5px 10%;
  }
  .display-picture p {
    font-size: 1.3rem;
    margin: 0;
  }
  .typing-field {
    margin: 8% 12% 2% 12%;
  }
  .typing-field span {
    font-size: 0.5rem;
  }
  .typing-field input {
    height: 20px;
    font-size: 0.5rem;
  }
  .display-picture .dots-3 {
    margin-top: 5px;
  }
  .dot {
    width: 6px;
    height: 7px;
  }
  .price-field h1 {
    font-size: 2.2rem;
    margin-top: 20px;
  }
  .price-field p {
    font-size: 0.6rem;
  }
  .display-code .code {
    font-size: 0.4rem;
    margin: 30px auto;
  }
}
@media only screen and (max-width: 480px) and (max-height: 700px) {
  .header {
    height: 70px;
    align-items: center;
  }
  .header-logo {
    width: 40px;
  }

  .header-navigations {
    font-size: 0.7rem;
  }
  .main-body {
    margin: 5px 10%;
  }
  .display-picture p {
    font-size: 1.2rem;
    margin: 0;
  }
  .display-picture img {
    width: 140px;
    height: 130px;
  }
  .white-bg {
    width: 110px;
    height: 110px;
    top: 140px;
  }
  .display-picture .dots-3 {
    margin-top: 5px;
  }
  .dot {
    width: 6px;
    height: 7px;
  }
  .typing-field {
    margin: 8% 10% 2% 10%;
  }
  .typing-field span {
    font-size: 0.5rem;
  }
  .typing-field input {
    height: 20px;
    font-size: 0.5rem;
  }
  .price-field h1 {
    font-size: 1.6rem;
    margin-top: 20px;
  }
  .price-field p {
    font-size: 0.5rem;
  }
  .display-code {
    margin: 20px 20% 20px 20%;
    text-align: center;
  }
  .display-code .code {
    font-size: 0.3rem;
    margin: 10px auto;
  }
  .display-code a {
    font-size: 0.4rem;
  }

  .footer {
    font-size: 0.4rem;
    margin-top: 10px;
  }
  .store-icons img {
    width: 70px;
    height: 25px;
  }
  .watch-video-section i {
    font-size: 30px;
  }
  .volcano-logo-section img {
    width: 25px;
  }

  .toggle-line {
    width: 20px;
    height: 3px;
    margin: 1.5px 0;
  }
}
@media only screen and (max-width: 320px) {
  .header {
    height: 50px;
    align-items: center;
  }
  .header-logo {
    width: 35px;
  }

  .header-navigations {
    font-size: 0.7rem;
  }
  .main-body {
    margin: 3px 10%;
  }
  .display-picture p {
    font-size: 1rem;
    margin: 0;
  }
  .display-picture img {
    width: 100px;
    height: 90px;
  }
  .white-bg {
    width: 75px;
    height: 75px;
    top: 100px;
  }

  .dot {
    width: 6px;
    height: 5px;
  }
  .typing-field {
    margin: 8% 12% 2% 12%;
  }
  .typing-field span {
    font-size: 0.4rem;
  }
  .typing-field input {
    font-size: 0.4rem;
  }
  .price-field h1 {
    font-size: 1.4rem;
  }
  .price-field p {
    font-size: 0.4rem;
  }

  .display-code .code {
    font-size: 0.35rem;
  }

  .toggle-line {
    width: 15px;
    height: 2.5px;
    margin: 1.5px 0;
  }
}
